html {
  background-color: #000;
}

.clock-face {
  height: 300px;
  margin: 50px auto;
  width: 300px;
  position: relative;
  background: transparent url("../images/clock-face.svg") no-repeat center center;
}

.center {
  position: absolute;
  width: 28px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hand {
  width: 14px;
  position: absolute;
  left: 143px;
}

.hand-hour {
  position: absolute;
  top: 92px;
  transform-origin: center bottom;
  animation: spin 6s infinite linear;
}

.hand-minute {
  position: absolute;
  top: 64px;
  transform-origin: center bottom;
  animation: spin 500ms infinite linear;
}

@keyframes spin {

  0% { transform: rotate(0deg); }

  100% { transform: rotate(360deg); }
}
